@font-face {
font-family: SigmarOne;
src: url(../fonts/SigmarOne-Regular.ttf);
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background: #308522;

    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
 
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;

    color: #fff;
    display: block;
    transition: 0.3s
}
.dropdown-menu a{
  font-size: 16px;
  text-align: right;
  color: #fff;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
 
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
 
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
   
    overflow:hidden;
    width:100%;
  
    

}
#main h5{
  color: #740202;
  font-weight: bold;
}
body {
  overflow-x: hidden;

}
 
/* Add a black background color to the top navigation */
.topnav {
    background: #308522;

    overflow: hidden;

}
.topnav img{
  height: 30px;
  margin-top: 10px;
  float: right;

}
.topnav h4{
  color: #fff;
  margin-top: 10px;
  float: right;
  margin-right: 5px;
  font-family: 'Sigmar One', cursive;
}
.topnav h6,.topnav p{
  color: #fff;
  margin-top: 10px;
  float: left;
  margin-right: 5px;
}


/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
 
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
 
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
 
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
 
a svg{
  transition:all .5s ease;
 
  &:hover{
    #transform:rotate(180deg);
  }
}
 
#ico{
  display: none;
}
 
.menu{
  background: #000;
  display: none;
  padding: 5px;
  width: 320px;
  @include border-radius(5px);
 
  #transition: all 0.5s ease;
 
  a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 2px;
    margin: 3px 0;
    text-decoration: none;
    background: #444;
 
    &:nth-child(1){
      margin-top: 0;
      @include border-radius(3px 3px 0 0 );
    }
    &:nth-child(5){
      margin-bottom: 0;
      @include border-radius(0 0 3px 3px);
    }
 
    &:hover{
      background: #555;
    }
  }
}
#oculto{
  display: none;
}
#textos p{
  display: none;
}
.bordearea{
  border:none;
}
#map ul {
  margin: 0 auto;
  padding: 0;
  max-height: 390px;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  
  border-left: none;
  border-right: none;
}

#map li {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.05);
  background-image: 
    linear-gradient(
      90deg,
      #65b749 10px,
      #EEE 10px,
      #EEE 11px,
      transparent 11px);
  padding: 10px 15px 10px 15px;
  border: 1px solid #CCC;
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  font-weight: bold;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 3px;
}
#map li a{
  color: #000;
}
#map li a:hover{
  text-decoration: none;
}

#map li a:visited{
  color: #000;

}

#map li:hover{
   background: rgba(0,0,0,0);
 color: #440001;
 box-shadow: inset 0 0 0 1.5px #65b749 ;
   background-image: 
    linear-gradient(
      90deg,
      #65b749 10px,
      #EEE 10px,
      #EEE 11px,
      transparent 11px);

}
.opaco{
  opacity: 0;
}
.imagensvg{
 opacity: 1;
 cursor: pointer;
}
#buscar{
  margin-top: 10px;
}
#search{
  margin-top: 10px;
}
.img-guia{
  height: 75px;
  float: left;
}
#map td{
  background-color: #98ac94;
  font-size: 12px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#map tr td:nth-child(2){
 border-right: 6px solid #308522;
}
#legend{
  max-width: 150px;
  border: 2px solid;
  border-radius: 5px;
  background-color: transparent;
}
.guia{
  margin-top: 15px;
  margin-left: 25% ;
}
.guia-txt{
  margin-top: 20px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}